---
title: {{title}}
createdDate: "{{createdDate}}"
updatedDate: "{{createdDate}}"
author: {{author}}{{tags}}
image: ../img/default.png
draft: {{draft}}
description: 
---

My awesome article

## TODO

-   [ ] Replace image
-   [ ] Write an awesome article
